@media only screen and (max-width: 600px) {
.blog-card {
      max-width: max-content;
    }
.sliders{
        max-width: max-content;
    }
  }

body{
    margin: 0;
    padding: 0;
    background: url(vs.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 0.603);
    font-weight: bold;
}

nav ul{
    top: 5%;
    padding: 5px 0px 5px 30px;
    display: flex;
    justify-content: flex-end;
}

nav li{
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}

nav li a{
    padding-right:1em;
}

nav li a:hover{
    color: red;
}

li:first-child{
    margin-right: auto;
    /* margin-left: 3em; */
}

.box{
    width: 400px;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    text-align: center;
    margin: auto;
    margin-top: 7%;
    color: white;
    font-family: 'Century Gothic';
}
   
.box:hover{
    background: rgba(255, 255, 255, 0.603);
    }
    
    .box h1:hover{
        color: black;
    }
  .animated-text{
    position: relative;
    height: 70px;
    overflow: hidden;
}

.animated-text h1{
    color:#fcfcfc;
    font-size: 2em;
    font-weight: 400;
    line-height: 70px;
    /* letter-spacing: 1px; */
}

.animated-text h1:nth-child(1){
    animation: text-move 9s infinite;
}

@keyframes text-move {
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -100px;
    }
    50%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0px
    }
}

a:link {
    text-decoration: none;
}

.foot{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgba(255, 255, 255, 0.603);
}

.foot ul{
    margin:0px;
    padding: 5px 0px 5px 30px;
    text-align:center;
}

.foot li{
    display: inline;
    margin-right: 20px;
}

/* blog card */

.blog-card{
    position: absolute;
    height: 370px;
    width: 95%;
    max-width: 100%;
    margin-left: 40px;
    margin-top : 30px;
    background: rgba(255, 255, 255, 0.664);
    border-radius: 25px;
    box-shadow: 0 10px 50px rgba(252, 56, 56, .3);
}

.blog-card .inner-part{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 360px;
    position: absolute;
    }

.inner-part .img{
    height: 260px;
    width: 260px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(252, 56, 56, .2);
}

#tapImg:checked ~ .inner-part .img{
    height: 370px;
    width: 850px;
    z-index: 99;
    margin-top: 10px;
    transition: .3s .2s ease-in;
}

.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    transition: .6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3,
#tap-4:checked ~ .inner-part .img-4,
#tap-5:checked ~ .inner-part .img-5,
#tap-6:checked ~ .inner-part .img-6,
#tap-7:checked ~ .inner-part .img-7{
    opacity: 1;
    transition-delay: .2s;
}
.content{
    padding: 0 20px 0 35px;
    width: 100%;
    margin-left: 50px;
    opacity: 0;
    transition: .6s;
}

#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3,
#tap-4:checked ~ .inner-part .content-4,
#tap-5:checked ~ .inner-part .content-5,
#tap-6:checked ~ .inner-part .content-6,
#tap-7:checked ~ .inner-part .content-7{
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
}

.content span{
    display: block;
    color: #3c3c3d;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.content .title{
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}

.content .text{
    font-size: 19px;
    color: #000000;
    margin-bottom: 30px;
    max-width: 70%;
    line-height: 1.5em;
    text-align: justify;
}

.content button{
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    border: 1px solid #fd3535;
    cursor: pointer;
    outline: none;
    background: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
}

.content button:hover{
    background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
}

.sliders{
    position: absolute;
    bottom: 25px;
    left: 500px;
    z-index: 100;
    transform: translateX(-50%);
}

.sliders .tap{
    position: relative;
    height: 10px;
    width: 50px;
    background: #5a5555;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}
.sliders .tap:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: left;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before,
#tap-4:checked ~ .sliders .tap-4:before,
#tap-5:checked ~ .sliders .tap-5:before,
#tap-6:checked ~ .sliders .tap-6:before,
#tap-7:checked ~ .sliders .tap-7:before{
    transform: scaleX(1);
    width: 100%;
}

input{
    display: none;
}